@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,*::after,*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 62.5%;
}

body{
    font-family: "Poppins",sans-serif;
}

/*-------- Utility Classes -----------*/

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: small;
}

.btn-primary{
    color: #E9EEF2;
    background-color: #E65C4F;
    transition: background 0.3s ease-in-out;
}

.btn-primary:hover{
    background: #E9EEF2;
    transition: background 0.3s ease-in-out;
    color: #E65C4F;
}

/*--------- NAVBAR -------- */

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #E65C4F;
    color: #E9EEF2;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
    align-items: center;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a{
    text-decoration: none;
    color: #E9EEF2;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover{
    color: #78A6C8;
    transition: color 0.3s ease-in-out;
}

.logo{
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
}

/*--------- Showcase --------------*/

.showcase-area{
    height: 40vh;
    background: linear-gradient(
        rgba(240,240,240,0.144),
        #E9EEF2
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120%;
  font-size: 1.6rem;
}

.main-title {
  text-transform: uppercase;
  margin-top: 1.8em;
}

/* ......//about us//...... */

#about {
  padding: 50px 0;
  background: #fff;
}

.about-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#about h2 {
  font-size: 2.3rem;
}

#about p {
  font-size: 1.2rem;
  color: #555;
}

#about .small {
  font-size: 1.2rem;
  color: #666;
  font-weight: 600;
}

.about-img {
  flex: 1 1 500px;
  padding: 10px;
  transform: translateX(100%);
  animation: about-img-animation 1s ease-in-out forwards;
}

@keyframes about-img-animation {
  100% {
    transform: translate(0);
  }
}

.about-text {
  flex: 1 1 400px;
  padding: 30px;
  margin: auto;
  transform: translate(150%);
  animation: about-text-animation 4s ease-in-out forwards;
}

@keyframes about-text-animation {
  100% {
    transform: translate(0);
  }
}

.about-img img {
  display: flexbox;
  height: 400px;
  max-width: 100%;
  margin: auto;
  object-fit: contain ;
  object-position: center;
  border-radius: 40%;
}

/*------------- Education Styling -------------*/

#education{
  padding: 20px 0;
  background: #F2E5D7;
}

.education-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120%;
}

#education h2{
  font-size: 3.3rem;
  text-align: center;
  color: #262322;
}

#education h3{
  text-align: center;
  font-size: 1.8rem;
  color: #262322;
}

#education h4{
  text-align: center;
  font-size: 1.2rem;
  color:#262322;
}

#education p{
  text-align: center;
  font-size: 1.2rem;
  color:#262322;
}

.img-container img{
  object-position: right;
  display: block;
  height: 80px;
  transform: translateX(100%);
  animation: about-text-animation 3s ease-in-out forwards;
  margin:auto;
}

#education .btn{
  text-align: center;
  display: flex;
  flex: content;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*-------------- CERTIFICATION Styling------------------*/

#certification{
  padding: 20px 0;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.certification-container{
  display: block;
  flex-wrap: wrap;
  height: 750px;
}

#certification h2{
  padding: 10px;
  text-align: center;
  font-size: 3.3rem;
  color: #262322;
}

#certification .cardbox{
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

#certification .cardBox:hover .card{
  transform: rotateY(180deg);
}

#certification .card{
  background: linear-gradient(45deg,#E65C4F,#fff,#E65C4F);
  cursor: default;
  height: 350px;
  border: none;
  border-radius: 40px 10px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 50%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

#certification .card p,h3{
  margin-bottom: 2.8em;
  text-align: center;
}

#certification .card .front,
.card .back{
  backface-visibility: hidden;
  box-sizing: border-box;
  color: #262322;
  display: block;
  font-size: 1.2em;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
}

#certification .card .front strong{
  background: transparent;
  border-radius: 100%;
  color: #262322;
  font-size: 1.5em;
  line-height: 50px;
  padding: 0 7px 4px 6px;
}

#certification .card .back{
  transform: rotateY(180deg);
}

#certification .cardbox:nth-child(1) .card{
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

#certification .cardbox:nth-child(2) .card{
  -webkit-animation: giro 2s 1;
  animation: giro 2.5s 1;
}


#certification img{
  height: 350px;
  width: 100%;
}

#certification .HP .card{
  float: right;
}

@-webkit-keyframes giro{
  from{
    transform: rotateY(180deg);
  }
  to{
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from{
    transform: rotateY(180deg);
  }
  to{
    transform: rotateY(0deg);
  }
}

/*----------------- Experience Styling -----------*/

#experience{
  padding: 20px ;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F2E5D7;
}

.experience-container{
  display: flex;
  flex-wrap: wrap;
}

#experience h2{
  padding: 10px;
  text-align: center;
  font-size: 3.3rem;
  color: #262322;
}

#experience .timeline {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

#experience .timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background: #36323C;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

#experience .container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

#experience .container.left {
  left: 0%;
}

#experience .container.right {
  left: 50%;
}

#experience .container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(1% - 8px);
  right: 0px;
  background: #36323C;
  border: 2px solid #6f5adc;
  border-radius: 16px;
  z-index: 1;
}

#experience .container.right::after {
  left: -5%;
}

#experience .container::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  top: calc(1% - 1px);
  right: 0%;
  background: #6f5adc;
  z-index: 1;
}

#experience .container.right::before {
  left: 5%;
}

#experience .container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align:left;
  font-size: 16px;
  font-weight: bold;
  color: #36323C;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

#experience .container.left .date {
  left: 130%;
}

#experience .container.right .date {
  left: -95%;
}

#experience .container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(1% - 20px);
  background: #36323C;
  border: 2px solid #6f5adc;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #6f5adc;
  z-index: 1;
}

#experience .container.left .icon {
  left: 40%;
}

#experience .container.right .icon {
  left: 40%;
}

#experience .container .content {
  padding: 3px 9px 3px 3px;
  background: #1e1a20;
  position:static;
  border-radius: 0 50px 50px 0;
}

#experience .container.right .content {
  padding: 3px 3px 3px 9px;
  border-radius: 50px 0 0 50px;
}

#experience .container .content h2 {
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: normal;
  color: #6f5adc;
}

#experience .container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 96%;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #6f5adc transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

/* ------------------------ CONTACT Styling --------------*/

#contact{
  padding: 20px;
  background-color: #E9EEF2;
}

#contact h2{
  padding: 10px;
  text-align: center;
  font-size: 3.3rem;
  color: #262322;
}

#contact .text-box1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact .text-box2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact h3 a:link{
  color: #fff ;
}

#contact h3{
  font-size: 2vw;
  font-weight: 400;
  background-color: #1e1a20;
  color: #E9EEF2;
  display: block;
  padding: 0.3em;
}

#contact h3:nth-child(2){
  position: absolute;
  background-color: #1e1a20;
  color: #E65C4F;
  clip-path: inset(-1% -1% 50% -1%);
}